a{
    cursor: pointer !important;
    color: #03284e;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0px;
}

.mediun-text{
    font-size: 1.5em;
}

p.recuo{
    text-indent: 2em;
}

.b{
    font-weight: bold;
}

.white{
    color:white;
}

.red{
    color:red;
}

.green{
    color:green;
}

.bg-white-gray{
    background-color: #f9fafc;
}

.bg-brand-orange{
    background-color: #ee8829;
}

.display-left{
    display: flex;
    align-items: left;
    justify-content: left;
}

.display-hidden{
    display: none;
}

.flex{
    display: flex;
}

.display-right{
    display: flex;
    align-items: right;
    justify-content: right;
}

.btn-promotion{
    text-transform: uppercase;
}

.box-curso-titulo{
    white-space: nowrap;
    overflow: hidden;
}

ul{
    list-style:none;
}

.text-center{
    text-align:center;
}

.content-center{
    display:flex;
    justify-content:center;
    align-content: center;
}

.dropdown-menu>li>a{
    width:100%;
}

.fa-angle-right{
    margin-top:6px;
}

.form-wrapper-top-search {
    background: #fff;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 6px;
    display: block;
}

.form-wrapper-top-search input[type="text"] {
    width:320px;
    height:50px;
    border:1px solid #0071a5;
    padding-left:10px;
    float: left;
}

.form-wrapper-top-search input[type="text"]:focus {
    color: black;
}

.label-desc{
    font-size: 11px;
    color: #636262
}

.form-wrapper-top-search .btn-search {
    margin-left: -31px;
    height: 50px;
    width: 30px;
    background: #0071a5;
    color: white;
    border: 0;
    -webkit-appearance: none;
}

.edit-panel{
    height: 364px;
    width: 100%;
    margin-top: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
    border-radius: 5px;
}

.avatar-view {
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  /* margin: auto; */
}

.avatar-body {
  padding-right: 15px;
  padding-left: 15px;
}

.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.avatar-upload input {
  display: block;
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 120px; /* altura = 0.67*largura */
  width: 180px;
  margin-top: 15px;
}

.preview-md {
  height: 67px; /* altura = 0.67*largura */
  width: 100px;
}

.preview-sm {
  height: 33px; /* altura = 0.67*largura */
  width: 50px;
}

.preview-circle-lg{
    height: 180px;
    width: 180px;
    margin-top: 15px;
    border-radius: 50%;
}

.preview-circle-md{
    height: 100px;
    width: 100px;
    margin-top: 15px;
    border-radius: 50%;
}

.preview-circle-sm{
    height: 50px; /* altura = 0.67*largura */
    width: 50px;
    margin-top: 15px;
    border-radius: 50%;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../images/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 1051;
}

iframe#preview-doc{
    width: 100%;
    min-height: 350px;
}

p, span
{
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.painel-financeiro{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 32px !important;
    font-weight: 600;
    line-height: 38px;
    padding-bottom: 4px;
}

.form-control.auto-height{
    height: auto;
}

.banner {
    /* The image used */
    background-image: url("../img/mesa-de-estudos.jpg");

    /* Set a specific height */
    height: 350px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.input-box{
    position: relative;
}

.input-box .input-counter{
    display: block;
    height: 24px;
    position: absolute;
    top: 4px;
    right: 7px;
    color: #686f7a;
    background: #dedfe0;
    font-weight: 700;
    min-width: 34px;
    line-height: 24px;
    text-align: center;
}

.input-box>input, .input-box>select{
    background: transparent;
    border: none;
    width: 100%;
position: absolute;
top: 5px;
left: 5px;
}

/* .form-header{
    position: relative;
    padding: 30px 45px;
    border-bottom: 1px solid #dedfe0;
} */

.nav-steps{
    counter-reset: steps;
}

.nav-steps>li>a::before{
    display: inline-block;
    counter-increment: steps;
    content: counter(steps);
    border: 1px solid #dedfe0;
    margin-right: 5px;
    margin-left: -25px;
    font-size: .9em;
    height: 1.4em;
    line-height: 1.2em;
    width: 1.4em;
    border-radius: 50%;
    color: #dedfe0;
    text-align: center;
}

.nav{
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #404347;
}

.nav-stacked > li {
    border: none !important;
    margin: 5px 0 !important;
}
.nav-stacked > li.active{
    background: aliceblue;
}

.nav-stacked > li > a {padding-left: 35px;}
.nav-stacked > li > a:hover {
    background: aliceblue;
    cursor: pointer;
}

.with-border-top{border-top: solid 1px aliceblue}
.with-border-rigth{border-right: solid 1px aliceblue}
.with-border-bottom{border-bottom: solid 1px aliceblue}
.with-border-left{border-left: solid 1px aliceblue}

.content-body{
    padding: 15px;
}

.form-container{
    padding: 30px;
}

.form-header, .form-footer, .form-tools{
    display: flex;
    padding: 30px;
}

.form-tools{
    padding: 15px;
}

.form-title{
    flex: 1;
    font-weight: 300;
    font-size: 32px;
}

.message-header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 13px;
}

.form-btn{
    display: block;
    padding: 15px;
    background: #0171a5;
    color: white;
    border: none;
    font-size: 15px;
    margin: 5px;
    text-align: center;
}

button.form-btn:hover{
    background: #075377;
    color: white;
}

.form-btn-publish{
    background-color: #ee8829;
    margin-top: 20px;
}

button.form-btn-publish:hover{
    background-color: #f3660c;
}

.form-btn-published{
    background-color: #148c05
}

.form-btn-review{
    background-color: #d5bc00;
    color: #29303b;
}

.form-row{
    margin-bottom: 30px;
}

.form-text, .form-label{
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.43;
    color: #29303b;
    text-align: justify;
    margin-top: 20px;
    font-weight: 300 !important
}

.preview-file{
    display: block;
    width: 100%;
    height: 600px;
}

.label-home-menu{
    font-size: 10px;
    position: absolute;
    right: 7px;
    top: 80px;
}

.label-dsh-menu{
    position: absolute;
    font-size: 10px;
    top: 5px;
}


.rate-area {
  float: left;
  padding: 0;
}

.rate-area:not(:checked) > input {
  display: none;
}

.rate-area:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 250%;
  line-height: 1.2;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rate-area:not(:checked) > label:before { content: '★ '; }

.rate-area > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60;
  font-size: 250% !important;
}

.rate-area:not(:checked) > label:hover, .rate-area:not(:checked) > label:hover ~ label { color: gold; }

.rate-area > input:checked + label:hover, .rate-area > input:checked + label:hover ~ label, .rate-area > input:checked ~ label:hover, .rate-area > input:checked ~ label:hover ~ label, .rate-area > label:hover ~ input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}
