a{
    cursor: pointer !important;
}

.mediun-text{
    font-size: 1.5em;
}

p.recuo{
    text-indent: 2em;
}

.b{
    font-weight: bold;
}

.white{
    color:white;
}

.red{
    color:red;
}

.green{
    color:green;
}

.display-left{
    display: flex;
    align-items: left;
    justify-content: left;
}

.display-hidden{
    display: none;
}

.display-right{
    display: flex;
    align-items: right;
    justify-content: right;
}

.btn-promotion{
    text-transform: uppercase;
}

.box-curso-titulo{
    white-space: nowrap;
    overflow: hidden;
}

ul{
    list-style:none;
}

.dropdown-menu>li>a{
    width:100%;
}

.fa-angle-right{
    margin-top:6px;
}

.form-wrapper-top-search {
    background: #fff;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 6px;
    position: relative;
    width: 450px;
}

.form-wrapper-top-search input[type="text"] {
    width:150px;
    height:50px;
    border:0px;
    border-left:1px solid #fafafa;
    padding-left:10px;
    top: 2px;
    bottom: 2px;
        transition: width .3s ease-in-out;
        -webkit-transition: width .3s ease-in-out;
        -moz-transition: width .3s ease-in-out;
        -ms-transition: width .3s ease-in-out;
}

.form-wrapper-top-search input[type="text"]:focus {
    width: 400px;
    color: black;
}

.label-desc{
    font-size: 11px;
    color: #636262
}

.form-wrapper-top-search button[type="submit"] {
    margin-left: -50px;
    height: 50px;
    width: 30px;
    background: #dfdfdf;
    color: white;
    border: 0;
    -webkit-appearance: none;
}

.edit-panel{
    height: 364px;
    width: 100%;
    margin-top: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
    border-radius: 5px;
}

.avatar-view {
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.avatar-body {
  padding-right: 15px;
  padding-left: 15px;
}

.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
  display: block;
  float: left;
  clear: left;
  width: 100px;
}

.avatar-upload input {
  display: block;
}

.avatar-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.avatar-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.avatar-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
  width: 100%;
}

.preview-lg {
  height: 120px; /* altura = 0.67*largura */
  width: 180px;
  margin-top: 15px;
}

.preview-md {
  height: 67px; /* altura = 0.67*largura */
  width: 100px;
}

.preview-sm {
  height: 33px; /* altura = 0.67*largura */
  width: 50px;
}

.preview-circle-lg{
    height: 180px;
    width: 180px;
    margin-top: 15px;
    border-radius: 50%;
}

.preview-circle-md{
    height: 100px;
    width: 100px;
    margin-top: 15px;
    border-radius: 50%;
}

.preview-circle-sm{
    height: 50px; /* altura = 0.67*largura */
    width: 50px;
    margin-top: 15px;
    border-radius: 50%;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.avatar-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.avatar-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("../images/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}